* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.ant-table-cell {
  padding: 20px 20px !important;
}

td.ant-table-cell {
  text-align: center !important;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
}
